<div>

  <mat-toolbar class="toolbar-one">

    <div class="col-xs-10 ">
      <span class="title">JHONATAN</span>
      <span>|</span>
      <span>BLOG</span>
    </div>

    <span style="flex: 1 1 auto;"></span>

    <div class="col-xs-2 site">
      <span>
        SITE
      </span>
    </div>


  </mat-toolbar>

  <mat-toolbar class="toolbar-two">

    <mat-nav-list>
      <mat-list-item *ngFor="let link of links">
        <a matLine routerLink="{{link.link}}"
        routerLinkActive="active">{{ link.text }}</a>
      </mat-list-item>
    </mat-nav-list>

  </mat-toolbar>


</div>
