.publish {

  &-title {
    text-align: center;
    color: #616161;
  }

  &-content {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: white;
    text-align: center;

    .btn-publish {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 91%;
    }

    .selects {
      border-top: solid 1px #dadada;
      border-bottom: solid 1px #dadada;
      padding-bottom: 5px;

      .check-box {
        display: flex;
        padding-left: 36px;
      }
    }

    .btns-footer {
      padding-top: 10px;
      padding-bottom: 10px;

      button {
        width: 45%;
      }
    }
  }
}
