<!--<mat-progress-bar mode="indeterminate" color="warn" *ngIf="inProgress"></mat-progress-bar>-->
<div class="container">

  <div>

    <mat-card class="card-login">

      <div class="card-logo">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular 2">
      </div>

      <div class="form-header">
        <h1 *ngIf="!isLoginForm">Login</h1>
        <h1 *ngIf="isLoginForm">Recuperação</h1>

        <p *ngIf="!isLoginForm">Entre com seu usuário</p>
        <p *ngIf="isLoginForm">Digite seu e-mail</p>
      </div>

      <form *ngIf="!isLoginForm" class="form-container" [formGroup]="formLogin">

        <mat-form-field class="form-input" color="accent">
          <input matInput placeholder="E-mail" formControlName="email" [(ngModel)]="user.email">
          <mat-error *ngIf="formLogin.get('email').hasError('pattern')">
            Digite um e-mail válido
          </mat-error>
          <mat-error *ngIf="formLogin.get('email').hasError('required')">
            E-mail é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-input" color="accent">
          <input matInput placeholder="Senha" type="password" formControlName="password" [(ngModel)]="user.password">
          <mat-error *ngIf="formLogin.get('password').hasError('minlength')">
            Mínimo 5 caracteres
          </mat-error>
          <mat-error *ngIf="formLogin.get('password').hasError('maxlength')">
            Máximo 15 caracteres
          </mat-error>
          <mat-error *ngIf="formLogin.get('password').hasError('required')">
            Digite sua senha
          </mat-error>
        </mat-form-field>

        <div>
          <a mat-button routerLink="." [disabled]="inProgress" color="accent" (click)="changeFormView()">Esqueceu sua senha ?</a>

          <button mat-raised-button color="accent" type="button"
                  [disabled]="!formLogin.valid || inProgress" class="form-btn-login" (click)="singUp()">
            Entrar
          </button>

        </div>

      </form>

      <form *ngIf="isLoginForm" class="form-container" [formGroup]="formLost">

        <mat-form-field class="form-input" color="accent">
          <input matInput placeholder="E-mail" formControlName="email" [(ngModel)]="user.email">
          <mat-error *ngIf="formLogin.get('email').hasError('pattern')">
            Digite um e-mail válido
          </mat-error>
          <mat-error *ngIf="formLogin.get('email').hasError('required')">
            E-mail é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <div>
          <a mat-button routerLink="." [disabled]="inProgress" color="accent" (click)="changeFormView()">Já tenho uma conta</a>

          <button mat-raised-button color="accent" type="button"
                  [disabled]="!formLost.valid || inProgress" class="form-btn-login" (click)="recoveryPassword()">
            Enviar
          </button>

        </div>

      </form>

    </mat-card>

    <footer>
      <div class="card-footer">
        <a mat-button routerLink=".">
          Ajuda
        </a>

        <a mat-button routerLink=".">
          Sobre
        </a>
      </div>


    </footer>
  </div>
</div>
