<div class="sidenav-area">

  <mat-toolbar class="toolbar" color="">

    <button mat-icon-button (click)="sidenav.toggle(undefined, 'mouse')">
      <mat-icon>view_headline</mat-icon>
    </button>

    <span>{{navTitle || 'Pagina Administrativa'}}</span>


    <!-- This fills the remaining space of the current row -->
    <span style="flex: 1 1 auto;"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">

      <!-- Sidebar header -->
      <div class="sidebar-header" style="background-image: url(https://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);">
        <!-- Top bar -->
        <div class="top-bar"></div>
        <!-- Sidebar brand image -->
        <div class="sidebar-image">
          <img src="assets/img/profile.png">
        </div>
        <!-- Sidebar brand name -->
        <div class="sidebar-brand">
          <span>Jhonatan</span>
        </div>
      </div>

      <mat-nav-list class="sidemenu-list">

        <mat-list-item (click)="sidenav.close()"
                       [routerLink]="'/adm'"
                       [ngClass]="{'isActiveMenu' : getRouter('/adm')}">
          <mat-icon matListIcon>home</mat-icon>
          <h3 matLine> Dashboard </h3>
        </mat-list-item>

        <mat-list-item [matMenuTriggerFor]="postMenu">
          <mat-icon matListIcon>note</mat-icon>
          <h3 matLine> Postagens </h3>
        </mat-list-item>

        <mat-list-item (click)="sidenav.close()"
                       [routerLink]="'/adm/profile'"
                       [ngClass]="{'isActiveMenu' : getRouter('/adm/profile')}">
          <mat-icon matListIcon>account_circle</mat-icon>
          <h3 matLine> Perfil </h3>
        </mat-list-item>

        <mat-list-item (click)="sidenav.close()"
                       [routerLink]="'/adm/members'"
                       [ngClass]="{'isActiveMenu' : getRouter('/adm/members')}">
          <mat-icon matListIcon>group</mat-icon>
          <h3 matLine> Membros </h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.close()"
                       [routerLink]="'/adm/settings'"
                       [ngClass]="{'isActiveMenu' : getRouter('/adm/settings')}">
          <mat-icon matListIcon>settings</mat-icon>
          <h3 matLine> Configurações </h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-menu #postMenu="matMenu">

          <button mat-menu-item (click)="sidenav.close()"
                  routerLink="/adm/post/2">
            <mat-icon>note_add</mat-icon>
            <span>Criar postagem</span>
          </button>

          <button mat-menu-item (click)="sidenav.close()"
                  routerLink="/adm/post">
            <mat-icon>view_list</mat-icon>
            <span>Ver postagens</span>
          </button>
        </mat-menu>

        <mat-list-item (click)="logout()">
          <mat-icon matListIcon>exit_to_app</mat-icon>
          <h3 matLine>Sair</h3>
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>


    <mat-sidenav-content>
      <div class="demo-sidenav-content">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>


</div>
